$base-bg-color: #FFFFFF;
$text-base-color: #333333;
$label-base-color: #979797;
$primary-color: #FFE600;

$font-base-size: 38px;
$font-base_family: Poppins;

$image_size: 80px;
$avatar-size: 160px;
$icon-size: 46px;
$camera-size: 58px;
$link-size: 40px;
