$base-bg-color: #FFFFFF;
$text-base-color: #333333;
$label-base-color: #979797;
$primary-color: #FFE600;

$font-base-size: 38px;
$font-base_family: Poppins;

$avatar-size: 70px;
$header-padding-y: 16px;
$back-icon-size: 46px;
