@import './variables';

.camerabtn {
  img {
    cursor: pointer;
    width: $camera-size;
    height: $camera-size;
  }
}

.cancelbtn {
  a {
    cursor: pointer;
    color: #2F80ED;
  }
}

#postBtn {
  p {
    cursor: pointer;
    color: $label-base-color;
  }
}

#album {
  cursor: pointer;
  margin: 40px 0;
  min-width: 200px;
  height: 60px;
  font-family: $font-base-family;
  font-weight: normal;
  font-size: $font-base-size - 8px;
  background: #FFFFFF;
  border: 1px solid $label-base-color;
}

.back_btn {
  text-align: left;
  float: left;

  img {
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
  }
}


