@import './variables';

.camerabtn {
  img {
    cursor: pointer;
    width: $camera-size;
    height: $camera-size;
  }
}

.cancelbtn {
  a {
    cursor: pointer;
    color: #2F80ED;
  }
}

#postBtn {
  p {
    cursor: pointer;
    color: $label-base-color;
  }
}

#album {
  cursor: pointer;
  margin: 40px 0;
  min-width: 200px;
  height: 60px;
  font-family: $font-base-family;
  font-weight: normal;
  font-size: $font-base-size - 8px;
  background: #FFFFFF;
  border: 1px solid $label-base-color;
}

.back_btn {
  text-align: left;
  float: left;

  img {
    cursor: pointer;
    width: $icon-size;
    height: $icon-size;
  }
}

.float_btn {
  cursor: pointer;
  position: fixed;
  bottom: 64px;
  width: 90%;
  height: 110px;
  background-color: $base-bg-color;
  color: $text-base-color;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

  img {
    margin: 30px;
    width: $icon-size;
    height: $icon-size;
  }
  
  p {
    margin: 30px;
    text-align: center;
    font-family: $font-base-family;
    font-weight: normal;
    font-size: $font-base-size;
  }
}
