@import './variables';

.comment-text-area {
  textarea {
    position: fixed;
    bottom: 200px;
    width: 90%;
    padding: 8px 8px;
    min-height: 440px;
    resize: vertical;
    border: 1px solid #EBEBEB;
    font-size: $font-base-size + 6px;
    color: $text-base-color;
    font-family: $font-base-family;
    font-weight: normal;
    font-size: $font-base-size;
  
    &.sm {
      min-height: 160px;
    }
  }
}

.comment {
  &_card {
    margin: 120px 0;
  }
  
  &_author {
    display: flex;
    margin: 40px 0;
    
    &_image {
      cursor: pointer;
      
      img {
        width: $image_size;
        height: $image_size;
        border-radius: 100%;
        margin-right: 38px;
      }
    }

    &_info {
      display: block;

      &_name {
        font-size: $font-base-size - 2px;
        line-height: 25px;
        margin-bottom: 25px;
      }
      
      &_content {
        font-size: $font-base-size - 2px;
        color: $label-base-color;
      }
    }
  }
}