@import './variables';

.profilePage_user {
  &_account {
    text-align: center;

    p {
      font-size: $font-base-size + 6px;
    }
  }

  &_image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    
    &_ellipse {
      position: relative;
      width: $avatar-size + 20px;
      height: $avatar-size+ 20px;
      border-radius: 100%;
      border: 1px solid #E91E63;
    }
    
    img {
      position: absolute;
      top: 10px;
      left: 10px;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
    }
  }
  
  &_have {    
    display: flex;
    justify-content: space-evenly;
    padding: 0 60px;

    &_item {
      margin-bottom: 50px;
      padding-left: 80px;
      
      .count {
        text-align: center;
        color: $text-base-color;
        font-size: $font-base-size + 10px;
        margin-bottom: 20px;
      }

      p {
        color: $label-base-color;
      }
    }
      
  }

  &_actionButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid $primary-color;
    font-weight: bold;
    padding: 0px 8px;
    a {
      color: $primary-color;
    }
  }
  
  &_introduction {
    font-size: 12px;
  }

  // &_snap {
  //   margin: 40px 0;
  //   height: auto;
  //   display: flex;
  //   flex-flow: row wrap;
    
  //   img {
  //     width: 33%;
  //     height: auto;
  //     margin: 10px;
  //   }
  // }
}